
h1 {
  @extend %fontTitres;
  margin: 0;
}

h2 {
  @extend %fontBolder;
}

a.bigButton {
  padding: 18px;
  font-size: 15px;
  color: white;
  box-shadow: $boxShadow;
  border-radius: 100px;
  margin: 20px auto;
  display: block;
  width: max-content;
  background-image: $linearGradient;

  &:hover{
    box-shadow: $boxShadowHover;
    background-image: $linearGradientHover;
  }
}

html {
  @extend %fontTextes;
  background-color: black;

  *{
    transition-duration: 300ms;
    transition-property: all;
  }
}

body {
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  font-size: 20px;
  max-width: 1920px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  a {
    position: absolute;
    left: 5px;

    i {
      font-size: 1.3em;
      width: 25px;
      height: 25px;
      color: black;
    }
  }
}

main.menu {
  background-color: #f7f7f7;
}

div#top {
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

section#menu {
  border-radius: 40px;
  margin-top: -40px;
  background-color: rgb(247, 247, 247);
  text-align: left;
  padding: 15px;
  position: relative;

  h2 {
    @extend %fontTitres;
    margin-bottom: -20px;
  }

  i.fa-heart {
    position: absolute;
    right: 30px;
    top: 50px;
    margin: 0;
    font-size: x-large;
  }

  div#entrees,
  div#plats,
  div#desserts {
    margin-top: 50px;

    h3 {
      font-weight: 400;
      text-transform: uppercase;

      span.souligner {
        border-bottom: 4px solid $colorTertiaire;
        padding-bottom: 4px;
      }
    }

    div.selectionPlat {
      animation-timing-function: linear; /* how the animation will behave */
      animation-name: loadingPlats;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      opacity: 0;
      top: 50px;

      background-color: white;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 5px 10px 5px #E6E6E6, -5px 10px 5px #E6E6E6, 0 -5px 5px #E6E6E6;
      margin-bottom: 15px;
      position: relative;
      display: flex;
      overflow: hidden;

      div.infosPlat {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        p.titrePlat,
        p > span:first-child{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p.titrePlat {
          margin: 7px 0;
          width: 85%;
          font-weight: bold;
        }

        p:not(.titrePlat) {
          margin: 0;
          color: $colorTextGreyTwo;
          display: flex;
          width: 95%;
          font-size: 0.5em;
          justify-content: space-between;

          span.tarif {
            @extend %fontBold;
            color: $colorTextGreyOne;
            margin-left: 10px;
            width: max-content;
          }
        }
      }

      span.animation{
        width: 0;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        background-color: $colorTertiaire;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;

        i{
          color: white;
          transform: rotate(-360deg);
        }
      }

      &:hover{
        div.infosPlat{
          width: 80%;
        }
        span.animation{
          width: 20%;

          i{
            transform: rotate(0deg);
          }

          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }

  a.bigButton {
    padding: 18px 45px;
    margin: 45px auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  background-color: #282828;
  color: white;

  img {
    width: 130px;
    padding: 25px 25px 25px 0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  a {
    margin-bottom: 15px;
    color: $colorTextGreyThree;

    i {
      margin-left: 0;
      color: white;
      font-size: initial;
    }
  }
}

//@media screen and (min-width: 768px) {
//  body{
//    background-color: red;
//  }
//}