/* line 1, ../projet3/Ohmyfood/sass/base/_base.scss */
html {
  font-family: Roboto, serif;
}

/* line 5, ../projet3/Ohmyfood/sass/base/_base.scss */
h1, section#menu h2 {
  font-family: Shrikhand, serif;
}

/* line 9, ../projet3/Ohmyfood/sass/base/_base.scss */
section#menu div#entrees div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif,
section#menu div#plats div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif,
section#menu div#desserts div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif, main#accueil section#fonctionnement a.etape p {
  font-weight: 700;
}

/* line 13, ../projet3/Ohmyfood/sass/base/_base.scss */
h2 {
  font-weight: 900;
}

/* line 1, ../projet3/Ohmyfood/sass/components/_composants.scss */
i {
  margin: 0 15px;
  width: 24px;
  height: 24px;
  color: #707070;
}

/* line 7, ../projet3/Ohmyfood/sass/components/_composants.scss */
i.fa-heart.fa-solid {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-y: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  z-index: 2;
}

/* line 16, ../projet3/Ohmyfood/sass/components/_composants.scss */
i.fa-heart.fa-solid:hover {
  background-position-y: 0;
  cursor: pointer;
}

/* line 25, ../projet3/Ohmyfood/sass/components/_composants.scss */
div.loader {
  animation-delay: 2.37s;
  animation-timing-function: linear;
  /* how the animation will behave */
  animation-iteration-count: 1;
  /* how many times the animation will play */
  animation-name: loadingPage;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 42, ../projet3/Ohmyfood/sass/components/_composants.scss */
div.loader .content {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes loadingPage {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(1) {
  animation-delay: 0.3s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(2) {
  animation-delay: 0.6s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(3) {
  animation-delay: 0.9s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(4) {
  animation-delay: 1.2s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(5) {
  animation-delay: 1.5s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(6) {
  animation-delay: 1.8s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(7) {
  animation-delay: 2.1s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(8) {
  animation-delay: 2.4s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(9) {
  animation-delay: 2.7s;
}

/* line 90, ../projet3/Ohmyfood/sass/components/_composants.scss */
section#menu div.selectionPlat:nth-child(10) {
  animation-delay: 3s;
}

@keyframes loadingPlats {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* line 2, ../projet3/Ohmyfood/sass/layout/_layout.scss */
h1 {
  margin: 0;
}

/* line 11, ../projet3/Ohmyfood/sass/layout/_layout.scss */
a.bigButton {
  padding: 18px;
  font-size: 15px;
  color: white;
  box-shadow: 5px 10px 5px #E6E6E6, -5px 10px 5px #E6E6E6;
  border-radius: 100px;
  margin: 20px auto;
  display: block;
  width: max-content;
  background-image: linear-gradient(#FF79DA, #9356DC);
}

/* line 22, ../projet3/Ohmyfood/sass/layout/_layout.scss */
a.bigButton:hover {
  box-shadow: 5px 15px 5px #E6E6E6, -5px 15px 5px #E6E6E6;
  background-image: linear-gradient(#ff93e1, #a16be0);
}

/* line 28, ../projet3/Ohmyfood/sass/layout/_layout.scss */
html {
  background-color: black;
}

/* line 32, ../projet3/Ohmyfood/sass/layout/_layout.scss */
html * {
  transition-duration: 300ms;
  transition-property: all;
}

/* line 38, ../projet3/Ohmyfood/sass/layout/_layout.scss */
body {
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  font-size: 20px;
}

/* line 45, ../projet3/Ohmyfood/sass/layout/_layout.scss */
body a {
  text-decoration: none;
  color: inherit;
}

/* line 51, ../projet3/Ohmyfood/sass/layout/_layout.scss */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* line 57, ../projet3/Ohmyfood/sass/layout/_layout.scss */
header a {
  position: absolute;
  left: 5px;
}

/* line 61, ../projet3/Ohmyfood/sass/layout/_layout.scss */
header a i {
  font-size: 1.3em;
  width: 25px;
  height: 25px;
  color: black;
}

/* line 70, ../projet3/Ohmyfood/sass/layout/_layout.scss */
main.menu {
  background-color: #f7f7f7;
}

/* line 75, ../projet3/Ohmyfood/sass/layout/_layout.scss */
div#top img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

/* line 82, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu {
  border-radius: 40px;
  margin-top: -40px;
  background-color: #f7f7f7;
  text-align: left;
  padding: 15px;
  position: relative;
}

/* line 90, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu h2 {
  margin-bottom: -20px;
}

/* line 95, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu i.fa-heart {
  position: absolute;
  right: 30px;
  top: 50px;
  margin: 0;
  font-size: x-large;
}

/* line 103, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees,
section#menu div#plats,
section#menu div#desserts {
  margin-top: 50px;
}

/* line 108, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees h3,
section#menu div#plats h3,
section#menu div#desserts h3 {
  font-weight: 400;
  text-transform: uppercase;
}

/* line 112, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees h3 span.souligner,
section#menu div#plats h3 span.souligner,
section#menu div#desserts h3 span.souligner {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 4px;
}

/* line 118, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat,
section#menu div#plats div.selectionPlat,
section#menu div#desserts div.selectionPlat {
  animation-timing-function: linear;
  /* how the animation will behave */
  animation-name: loadingPlats;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
  top: 50px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px 5px #E6E6E6, -5px 10px 5px #E6E6E6, 0 -5px 5px #E6E6E6;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  overflow: hidden;
}

/* line 135, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.infosPlat,
section#menu div#plats div.selectionPlat span.infosPlat,
section#menu div#desserts div.selectionPlat span.infosPlat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* line 141, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.infosPlat p.titrePlat,
section#menu div#entrees div.selectionPlat span.infosPlat p > span:first-child,
section#menu div#plats div.selectionPlat span.infosPlat p.titrePlat,
section#menu div#plats div.selectionPlat span.infosPlat p > span:first-child,
section#menu div#desserts div.selectionPlat span.infosPlat p.titrePlat,
section#menu div#desserts div.selectionPlat span.infosPlat p > span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 148, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.infosPlat p.titrePlat,
section#menu div#plats div.selectionPlat span.infosPlat p.titrePlat,
section#menu div#desserts div.selectionPlat span.infosPlat p.titrePlat {
  margin: 7px 0;
  width: 85%;
  font-weight: bold;
}

/* line 154, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.infosPlat p:not(.titrePlat),
section#menu div#plats div.selectionPlat span.infosPlat p:not(.titrePlat),
section#menu div#desserts div.selectionPlat span.infosPlat p:not(.titrePlat) {
  margin: 0;
  color: #707070;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

/* line 161, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif,
section#menu div#plats div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif,
section#menu div#desserts div.selectionPlat span.infosPlat p:not(.titrePlat) span.tarif {
  color: #3d3d3d;
  margin-left: 10px;
  width: max-content;
}

/* line 170, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.animation,
section#menu div#plats div.selectionPlat span.animation,
section#menu div#desserts div.selectionPlat span.animation {
  width: 0;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

/* line 184, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat span.animation i,
section#menu div#plats div.selectionPlat span.animation i,
section#menu div#desserts div.selectionPlat span.animation i {
  color: white;
  transform: rotate(-360deg);
}

/* line 191, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat:hover span.infosPlat,
section#menu div#plats div.selectionPlat:hover span.infosPlat,
section#menu div#desserts div.selectionPlat:hover span.infosPlat {
  width: 80%;
}

/* line 194, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat:hover span.animation,
section#menu div#plats div.selectionPlat:hover span.animation,
section#menu div#desserts div.selectionPlat:hover span.animation {
  width: 20%;
}

/* line 197, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat:hover span.animation i,
section#menu div#plats div.selectionPlat:hover span.animation i,
section#menu div#desserts div.selectionPlat:hover span.animation i {
  transform: rotate(0deg);
}

/* line 201, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu div#entrees div.selectionPlat:hover span.animation:hover,
section#menu div#plats div.selectionPlat:hover span.animation:hover,
section#menu div#desserts div.selectionPlat:hover span.animation:hover {
  cursor: pointer;
}

/* line 209, ../projet3/Ohmyfood/sass/layout/_layout.scss */
section#menu a.bigButton {
  padding: 18px 45px;
  margin: 45px auto;
}

/* line 215, ../projet3/Ohmyfood/sass/layout/_layout.scss */
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  background-color: #282828;
  color: white;
}

/* line 223, ../projet3/Ohmyfood/sass/layout/_layout.scss */
footer img {
  width: 130px;
  padding: 25px 25px 25px 0;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* line 229, ../projet3/Ohmyfood/sass/layout/_layout.scss */
footer a {
  margin-bottom: 15px;
  color: #aeaeae;
}

/* line 233, ../projet3/Ohmyfood/sass/layout/_layout.scss */
footer a i {
  margin-left: 0;
  color: white;
  font-size: initial;
}

/* line 3, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil div#localisation {
  color: #3d3d3d;
  background-color: #eaeaea;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 5px 5px #D0D0D0 inset;
}

/* line 11, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#reservation {
  background-color: #f7f7f7;
  padding: 30px;
}

/* line 15, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#reservation h2 {
  margin: 10px 0;
}

/* line 19, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#reservation p {
  color: #707070;
}

/* line 24, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement {
  display: inline-block;
  padding: 20px;
}

/* line 28, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement h2 {
  text-align: left;
}

/* line 32, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement a.etape {
  display: flex;
  align-items: center;
  width: 95%;
  float: right;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 5px 10px 5px #E6E6E6, -5px 10px 5px #E6E6E6;
  margin-bottom: 30px;
  padding: 8px 0;
  gap: 10px;
}

/* line 44, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement a.etape span {
  position: relative;
  left: -10px;
  border-radius: 50%;
  background-color: #9356DC;
  width: 24px;
  font-size: 15px;
  height: 20px;
  padding-top: 4px;
  color: white;
  font-weight: 400;
  margin-right: -10px;
}

/* line 58, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement a.etape i {
  height: 20px;
}

/* line 66, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement a.etape:hover {
  background-color: #f5edff;
  box-shadow: 5px 15px 5px #E6E6E6, -5px 15px 5px #E6E6E6;
}

/* line 70, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#fonctionnement a.etape:hover i {
  color: #9356DC;
}

/* line 77, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants {
  background-color: #f7f7f7;
  padding: 20px;
}

/* line 81, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants h2 {
  text-align: left;
}

/* line 85, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card {
  background-color: white;
  display: block;
  border-radius: 15px;
  box-shadow: 5px 10px 5px #E6E6E6, -5px 10px 5px #E6E6E6;
  margin-bottom: 25px;
  overflow: hidden;
  max-height: 260px;
  position: relative;
  padding-bottom: 10px;
}

/* line 96, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card figure {
  margin: 0;
}

/* line 99, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card figure img {
  width: 100%;
  object-fit: cover;
  max-height: 180px;
  margin-bottom: 10px;
}

/* line 106, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card figure figcaption {
  text-align: left;
  margin-left: 10px;
  font-weight: 700;
}

/* line 113, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card p {
  margin: 5px 10px;
  text-align: left;
}

/* line 118, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card i {
  position: absolute;
  right: 25px;
  bottom: 40px;
  margin: 0;
  font-size: x-large;
}

/* line 126, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card span {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}

/* line 138, ../projet3/Ohmyfood/sass/pages/_accueil.scss */
main#accueil section#restaurants a.card:hover {
  box-shadow: 5px 15px 5px #E6E6E6, -5px 15px 5px #E6E6E6;
}

@media screen and (min-width: 768px) {
  /* line 5, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main#accueil section#fonctionnement,
  main#accueil section#restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }
  /* line 12, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main#accueil section#fonctionnement h2,
  main#accueil section#restaurants h2 {
    width: 100%;
  }
  /* line 16, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main#accueil section#fonctionnement a.card,
  main#accueil section#fonctionnement a.etape,
  main#accueil section#restaurants a.card,
  main#accueil section#restaurants a.etape {
    width: 45%;
    max-width: 350px;
  }
  /* line 26, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu div#top img {
    height: 35vh;
  }
  /* line 30, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu section#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }
  /* line 36, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu section#menu h2 {
    width: 100%;
  }
  /* line 40, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu section#menu div#entrees,
  main.menu section#menu div#plats,
  main.menu section#menu div#desserts {
    width: 45%;
    max-width: 400px;
    min-width: 350px;
    margin-top: -3px;
  }
  /* line 49, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu section#menu a.bigButton {
    width: 150px;
    margin: 15px 100%;
  }
  /* line 56, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  footer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }
  /* line 63, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  footer a {
    width: 45%;
    text-align: center;
  }
  /* line 68, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  footer img {
    width: 150px;
    margin: 15px 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1289px) {
  /* line 78, ../projet3/Ohmyfood/sass/theme/_responsive.scss */
  main.menu section#menu div#desserts {
    width: 70%;
    max-width: none;
  }
}

/*# sourceMappingURL=main.css.map */