@media screen and (min-width: 768px) {

  //page accueil
  main#accueil {
    section#fonctionnement,
    section#restaurants {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-evenly;

      h2 {
        width: 100%;
      }

      a.card,
      a.etape{
        width: 45%;
        max-width: 350px;
      }
    }
  }

  main.menu {
    div#top{
      img{
        height: 35vh;
      }
    }
    section#menu {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-evenly;

      h2{
        width: 100%;
      }

      div#entrees,
      div#plats,
      div#desserts {
        width: 45%;
        max-width: 400px;
        min-width: 350px;
        margin-top: -3px;
      }

      a.bigButton {
        width: 150px;
        margin: 15px 100%;
      }
    }
  }

  footer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;

    a {
      width: 45%;
      text-align: center;
    }

    img {
      width: 150px;
      margin: 15px 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1289px) {
  main.menu {
    section#menu {
      div#desserts {
        width: 70%;
        max-width: none;
      }
    }
  }
}